@page "/monthlyCapture"
@using FyFi.Domain.Classes
@using FyFi.Domain.Interfaces
@rendermode InteractiveServer
@inject IMonthlyCaptureService MonthlyCaptureService

<h3>Monthly Capture</h3>
@* <InputDate TValue="DateOnly" @bind-Value="CaptureDate" Placeholder="Enter Capture Date" /> *@

<table class="table">
    <thead>
        <tr>
            <th>Title/Description</th>
            <th>Amount</th>
            @* <th>Action</th> *@
        </tr>
    </thead>
    <tbody>

        @foreach (var item in MonthlyCaptureCls.CaptureItems)
        {
            <tr>
                <td>@item.ItemName</td>
                <td>@item.ItemAmount</td>
                <td><button @onclick="() => DeleteCaptureItem(item)">Delete</button></td>
            </tr>
        }
    </tbody>
</table>



<p>TOTAL: $@totalAmount</p>

<h4>Enter Assets</h4>
<input placeholder="Cash..." @bind="newCaptureItemTitle" />
<input placeholder="15" @bind="newCaptureItemAmount" />

<button @onclick="AddCaptureItem">Add</button>

<button @onclick="SaveUpdateMonthlyCapture">Save Monthly Capture</button>

@code {
    private MonthlyCaptureCls MonthlyCaptureCls = new(); 
    private string? newCaptureItemTitle;
    private int newCaptureItemAmount;

    private decimal totalAmount;  

    protected override void OnInitialized()
    {
        MonthlyCaptureCls = MonthlyCaptureService.LoadMonthlyCaptureById(1); 
    }

    private void AddCaptureItem()
    {
        if (!String.IsNullOrWhiteSpace(newCaptureItemTitle) && 
            newCaptureItemAmount > 0)
        {
            MonthlyCaptureCls.CaptureItems.Add(
                new MonthlyCaptureItem 
                { 
                    MonthlyCaptureId = MonthlyCaptureCls.MonthlyCaptureId, 
                    ItemName = newCaptureItemTitle, 
                    ItemAmount = newCaptureItemAmount 
                }
            );

            totalAmount += newCaptureItemAmount;

            //Reset
            newCaptureItemTitle = string.Empty;
            newCaptureItemAmount = 0;

        }
    }

    private void SaveUpdateMonthlyCapture()
    {
        MonthlyCaptureService.SaveUpdateMonthlyCapture(MonthlyCaptureCls);

    }

    private void DeleteCaptureItem(MonthlyCaptureItem captureItem)
    {
        MonthlyCaptureService.DeleteMonthlyCaptureItem(captureItem.MonthlyCaptureItemId);
        MonthlyCaptureCls.CaptureItems.Remove(captureItem);
    }
}
