@page "/monthlyCapture"
@using FyFi.CustomerInterface.Classes
@rendermode InteractiveServer


<h3>Monthly Capture</h3>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in captureItems)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Amount</td>
            </tr>
        }
    </tbody>
</table>



<p>TOTAL: $@totalAmount</p>

<input placeholder="Cash..." @bind="newCaptureItemTitle" />
<input placeholder="15" @bind="newCaptureItemAmount" />


<button @onclick="AddCaptureItem">Add</button>

@code {
    private List<CaptureItem> captureItems = new();
    private string? newCaptureItemTitle;
    private int newCaptureItemAmount;

    private decimal totalAmount;

    private void AddCaptureItem()
    {
        if (!String.IsNullOrWhiteSpace(newCaptureItemTitle) && 
            newCaptureItemAmount > 0)
        {
            captureItems.Add(new CaptureItem { Title = newCaptureItemTitle, Amount = newCaptureItemAmount });

            totalAmount += newCaptureItemAmount;

            //Reset
            newCaptureItemTitle = string.Empty;
            newCaptureItemAmount = 0;

        }
    }
}
