@page "/monthlyCapture"
@using FyFi.CustomerInterface.Classes
@using FyFi.CustomerInterface.DatabaseLayer
@rendermode InteractiveServer


<h3>Monthly Capture</h3>
<InputDate TValue="DateOnly" @bind-Value="CaptureDate" Placeholder="Enter Capture Date" />

<table class="table">
    <thead>
        <tr>
            <th>Title/Description</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in CaptureItems)
        {
            <tr>
                <td>@item.ItemName</td>
                <td>@item.ItemAmount</td>
            </tr>
        }
    </tbody>
</table>



<p>TOTAL: $@totalAmount</p>

<h4>Enter Assets</h4>
<input placeholder="Cash..." @bind="newCaptureItemTitle" />
<input placeholder="15" @bind="newCaptureItemAmount" />

<button @onclick="AddCaptureItem">Add</button>

<button @onclick="SaveMonthlyCapture">Save Monthly Capture</button>

@code {
    private List<MonthlyCaptureItem> CaptureItems = new();
    private string? newCaptureItemTitle;
    private int newCaptureItemAmount;
    private DateOnly CaptureDate = DateOnly.FromDateTime(DateTime.Now); 

    private decimal totalAmount;

    protected override void OnInitialized()
    {
        var dbHelper = new DatabaseHelper(); 
        var monthlyCaptureItem = dbHelper.GetMonthlyCaptureItemById(1); 
        CaptureItems.Add(monthlyCaptureItem);
    }

    private void AddCaptureItem()
    {
        if (!String.IsNullOrWhiteSpace(newCaptureItemTitle) && 
            newCaptureItemAmount > 0)
        {
            CaptureItems.Add(new MonthlyCaptureItem { ItemName = newCaptureItemTitle, ItemAmount = newCaptureItemAmount });

            totalAmount += newCaptureItemAmount;

            //Reset
            newCaptureItemTitle = string.Empty;
            newCaptureItemAmount = 0;

        }
    }

    private void SaveMonthlyCapture()
    {
        
    }
}
